<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page of ELibrary</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href="../style.css">
</head>
<style>
    body{
        padding:0;
        margin:0;

    }
    .custom-navbar{
        background-color: rgb(232, 248, 248);
        border-bottom: 5px solid gray;
    }

    .nav-item.active-link {
        border-bottom: 3px solid yellow;
    }
</style>
<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <nav class="navbar custom-navbar fixed-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/images/E-Library logo.png" id="logo" alt="Logo" width="120" height="110" style="filter: brightness(30%);">
            </a>
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars fa-xl" style="color: black;"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" id="homeLink" aria-current="page" href="/home" style="color: red; filter: brightness(200%); font-weight: bold;">Home</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" id="aboutLink" aria-disabled="true" href="/About" style="color: red;filter: brightness(200%); font-weight: bold;">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contactLink" aria-disabled="true" href="/Contact" style="color: red; filter: brightness(200%); font-weight: bold;">Contact Us</a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="loginLink" aria-disabled="true" href="/login" style="color: red;filter: brightness(200%); font-weight: bold;">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="signupLink" aria-disabled="true" href="/signup" style="color: red; filter: brightness(200%); font-weight: bold;">Signup</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </nav>

    <!-- ... -->
<!-- ... -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the current page URL
        var currentLocation = window.location.pathname;

        // Remove the trailing slash if present
        var sanitizedLocation = currentLocation.endsWith('/') ? currentLocation.slice(1) : currentLocation;

        // Select all navigation links
        var navLinks = document.querySelectorAll('.navbar-nav a');

        // Loop through each navigation link to find a match with the current URL
        navLinks.forEach(function(link) {
            var href = link.getAttribute('href');

            // If the href attribute matches the current URL, add the active-link class
            if (href === sanitizedLocation) {
                link.classList.add('active-link');
            }
        });
    });
</script>
<!-- ... -->

<!-- ... -->




    <div class="container-fluid" style="height: 80vh; width: 90vw; margin-bottom: 20px; margin-top: 20px; background-image: url('/images/book.webp'); background-size: cover; background-position: center; background-repeat: no-repeat; display: flex; align-items: center; justify-content: center; position: relative;">

        <div class="container text-center">
            <div class="row">
            
                <div class="col" >
                    <div style="position: absolute; top: 50%; left: 25%; transform: translate(-50%, -50%); text-align: left; margin: 41px; margin-top: 0px;">
                        <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;font-size: 50px; filter: brightness(500%); margin-left:-10px; margin-bottom: 25px;" >Welcome To Our E-Library</h2>
                        <a href="/home" class="btn btn-primary">Click To Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    




     

      <style>
        @keyframes slideIn {
            0% {
                transform: translateY(-90%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

    </style>


      <footer class="bg-white text-white py-4" style="border-top: 5px solid gray;">
        <div class="container" style="align-items: normal; padding: 20px;">
            <div class="row">
                <div class="col-md-3">
                    <a class="navbar-brand" href="#">
                        <img src="/images/E-Library logo.png" id="logo" alt="Logo" width="200" height="200">
                    </a>
                </div>
                <div class="col-md-4">
                    <h4 style="color: black;">Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="/home" style="color: black; text-decoration: none;">Home</a></li>
                        <li><a href="/About" style="color: black; text-decoration: none;">About Us</a></li>
                        <li><a href="/login" style="color: black; text-decoration: none;">Login</a></li>
                        <li><a href="/signup" style="color: black; text-decoration: none;">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 style="color: black;">Follow Us</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
      </footer>
   
</body>
</html>